[submodule "roles/ansible-jenkins-role"]
	path = roles/ansible-jenkins-role
	url = git@github.com:DanielJohnHarty/ansible-jenkins-role.git
[submodule "roles/ubuntu-add-sudoer"]
	path = roles/ubuntu-add-sudoer
	url = git@github.com:DanielJohnHarty/ubuntu-add-sudoer.git
[submodule "roles/ansible-certificates-role"]
	path = roles/ansible-certificates-role
	url = git@github.com:DanielJohnHarty/ansible-certificates-role.git
